<html ng-app="app">

<head>
 <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

  <title>Express</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="./javascripts/js/html2canvas.min.js" charset="utf-8"></script>
  <script src="./javascripts/js/three.min.js" charset="utf-8"></script>
  <script src="./javascripts/js/default-book-view.js" charset="utf-8"></script>

  <script type="text/javascript" src="http://heyzine.com/release/jquery.pdfflipbook.1.js"></script>

  <script src="./javascripts/script.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

  <style>
      #three{
          position: absolute;
          top:18%;
          left: 50%;

      }

       #four{
          position: absolute;
          top:18%;
          left: 61%;

      }
      #one{
          position: absolute;
          top:18%;
          left: 28%;

      }
        #two{
          position: absolute;
          top:18%;
          left: 39%;

      }
      .shelf{
         position: absolute;
          top: 40%;
          left:15%;

      }

      table{
          position: absolute;
          top: 55%;
          width: 50%;
      }
      #frame{
        width: 20%;
        position: absolute;
        left:75%;
      }
      #notice{
        top: 7%;
         position: absolute;
        left:81%;


      }

      #notice:hover{
         transform: scale(1.4);
      }
  </style>
</head>

<body class="#424242 grey darken-3" ng-controller="main">
 <img src="/images/shelf.png" alt="" srcset="" class="shelf">
 <img src="/images/xml.png" alt="" srcset="" id="one" class="z-depth-3"  style="width: 155px; height: 235px;">
 <img src="/images/xml.png" alt="" srcset="" id="two" class="z-depth-3"  style="width: 155px; height: 235px;">
<img src="/images/xml.png" alt="" srcset="" id="three" class="z-depth-3" style="width: 155px; height: 235px;" >
<img src="/images/xml.png" alt="" srcset="" id="four" class="z-depth-3"  style="width: 155px; height: 235px;">
<img src="/images/frame.png" alt="" srcset="" id="frame" class="z-depth-3" >


  <div class="container">
  <!-- Modal Trigger -->

 <!-- Modal Structure -->
  <div id="modal1" class="modal ">
    <div class="row">


    </div>
    <div class="modal-content" ng-repeat="n in notice">
      <h4>\{{n.title}}</h4>
      <hr>
      <p><strong>\{{n.message}}</strong></p>
    </div>

  </div>


    <div class="row">
      <div class="col m10 offset-m1">



      </div>
    </div>
    <div id="notice">

<a class=" modal-trigger" href="#modal1"><img src="/images/c-notice_icon.png" width="150px"></a>
    </div>

    <div class="row">
        <div class="col m8 offset-m1">

            <table>
                <thead>
                  <tr>
                      <th>Issue</th>
                      <th>Dat</th>
                      <th>Article</th>
                  </tr>
                </thead>

                <tbody>
                  <tr ng-repeat="x in article">
                    <td>\{{x.title}}</td>

                    <td>\{{x.summery}}</td>
                    <td>
                      <a href=\{{x.articleLocation}} target="blank"><img src="/images/book.png"  class="responsive-img" width="50px"></a>


                  </tr>

                </tbody>
              </table>


        </div>

      </div>

  </div>


</body>
<script>
  var app =angular.module("app",[]);

  app.controller("main",["$scope","$http",function($scope,$http){


      $scope.latesArticles = "";
      $scope.article = "";
      $scope.notice = "";
      $http.get("/notice/lates-notice").then(function(res){
        //console.log(res.data);
        $scope.notice = res.data;
        console.log($scope.notice)
      });
      $http.get("/article/get-articles-data")
    .then(function(response) {
        console.log(response.data);
        $scope.article =response.data;
    });

  }]);

 $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
       $('a').pdfFlipbook({ key: 'a4cbf3a5e' });
  });

</script>
</html>
