<html ng-app="app">

<head>
 <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

  <title>Express</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  
  <script src="./javascripts/script.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

  <style>
      #three{
          position: fixed;
          top:18%;
          left: 50%;

      }
      
       #four{
          position: fixed;
          top:18%;
          left: 61%;

      }
      #one{
          position: fixed;
          top:18%;
          left: 28%;

      }
        #two{
          position: fixed;
          top:18%;
          left: 39%;

      }
      .shelf{
         position: fixed;
          top: 40%;
          left:15%;
          
      }

      table{
          position: absolute;
          top: 55%;
          width: 50%;
      }
      #frame{
        width: 20%;
        position: fixed;
        left:75%;
      }
      #notice{
        top: 12%;
         position: fixed;
        left:79%;
       
      }
  </style>
</head>

<body class="#424242 grey darken-3" ng-controller="main">
 <img src="/images/shelf.png" alt="" srcset="" class="shelf">
 <img src="/images/xml.png" alt="" srcset="" id="one" class="z-depth-3"  style="width: 155px; height: 235px;">
 <img src="/images/xml.png" alt="" srcset="" id="two" class="z-depth-3"  style="width: 155px; height: 235px;">
<img src="/images/xml.png" alt="" srcset="" id="three" class="z-depth-3" style="width: 155px; height: 235px;" >
<img src="/images/xml.png" alt="" srcset="" id="four" class="z-depth-3"  style="width: 155px; height: 235px;">
<img src="/images/frame.png" alt="" srcset="" id="frame" class="z-depth-3" >


  <div class="container">
  <!-- Modal Trigger -->
  
 <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content" ng-repeat="x in notice">
      <h4>\{{x.title}}</h4>
      <p>\{{x.message}}</p>
    </div>
  
  </div>
          

    <div class="row">
      <div class="col m10 offset-m1">

   

      </div>
    </div>
    <div id="notice">
      
<a class=" modal-trigger" href="#modal1"><h6>Notice</h6></a>
    </div>

    <div class="row">
        <div class="col m8 offset-m1">
    
            <table>
                <thead>
                  <tr>
                      <th>Name</th>
                      <th>Discription</th>
                      <th>Article</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr ng-repeat="x in article">
                    <td>\{{x.title}}</td>
                 
                    <td>\{{x.summery}}</td>
                    <td><a href=\{{x.articleLocation}} target="blank">article</a>
                    <br><br><br></td>
                      <br><br><br>
                  </tr>
           
                </tbody>
              </table>
                    
    
        </div>
    
      </div>

  </div>

  
</body>
<script>
  var app =angular.module("app",[]);
  app.controller("main",["$scope","$http",function($scope,$http){
      $scope.article = "";
      $scope.notice = "";
      $http.get("/notice/lates-notice").then(function(res){
        console.log(res.data);
        $scope.notice = res.data;
      });
      $http.get("/article/get-articles-data")
    .then(function(response) {
        console.log(response.data);
        $scope.article =response.data;
    });

  }]);

 $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
        
</script>
</html>
